<article>
	<h1>ESTADISTICAS</h1>
	<div class="row">
		<div class="input-field col m3 s12 offset-m1">
			<form>
				<input type="radio" class="with-gap" id="histograma" ng-model="control.tipoBarras" value=0 ng-change="control.api.clearElement();control.data[0]={};control.encabezado='';control.options={};control.porGenero=false">
				<label for="histograma">Histograma</label>
				<input type="radio" class="with-gap" id="barras" ng-model="control.tipoBarras" value=1 ng-change="control.api.clearElement();control.data[0]={};control.encabezado='';control.options={}">
				<label for="barras">Gráfica de barras</label>
			</form>
		</div>

		<!-- control del histograma-->
		<div class="input-field col s4 m4" ng-show="control.tipoBarras<1 ">
			<select name="carrera" ng-model="control.currentCarrera" material-select watch ng-change="control.histograma(control.currentCarrera)">
				<option value="Todas las carreras">Todas las carreras</option>
				<option ng-repeat="carrera in control.nameCarreras track by $index">{{carrera}}</option>
			</select>
			<label>Carrera</label>		
		</div>

		<!--control de la grafica de barras-->		
		<div class="input-field col s6 m2" ng-show="control.tipoBarras>0" >
			<input type="number" ng-model="control.anio" min="1965" max="2020" ng-change="control.barras()">
			<label>Año</label>
		</div>
		<div class="input-field col s6 m2" ng-show="control.tipoBarras>0">
			<input type="checkbox"  id="genero" ng-model="control.porGenero"  ng-change="control.api.clearElement();control.barras()" >
			<label for="genero">Ver por género</label>
		</div>

		<!--opciones histograma-->
		<div class="col m2 s6 valign-wrap">
			<button class="valign btn waves-effect waves-light btn-floating" ng-show="control.tipoBarras<1 " ng-click="control.histograma(control.currentCarrera)">
			<i class="material-icons right">insert_chart</i>
			</button>

			<!--opciones barras-->
			<button class="valign btn waves-effect waves-light btn-floating" ng-show="	control.tipoBarras>0" ng-click="control.barras()">
			<i class="material-icons right">insert_chart</i>
			</button>
		</div>
	</div>



	<!--Tabla de reporte-->

	<div class="row">
		<div class="col s12 m10 offset-m1">
			<nvd3 options="control.options" api="control.api" data="control.data" config="{
			refreshDataOnly:false,
			deepWatchOptions:false,
			deepWatchData: true,
			deepWatchDataDepth: 2
			}"></nvd3>
		</div>


		<div class="col s12 m8 offset-m2" ng-show="control.porGenero==false">
			<h2 class="center-align">{{control.encabezado}}</h2>
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th class="data-field center-align">{{control.options.chart.xAxis.axisLabel}}</th>
						<th class="data-field center-align">{{control.options.chart.yAxis.axisLabel}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dato in control.data[0].values">
						<td>{{dato.label}}</td>
						<td class="center-align">{{dato.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s12 m8 offset-m2" ng-show="control.porGenero==true && control.data[0].values.length>0 && control.tipoBarras>0">
			<h2 class="center-align">{{control.encabezado}}</h2>
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th class="data-field center-align">{{control.options.chart.xAxis.axisLabel}}</th>
						<th class="data-field center-align">
							Hombres
						</th>
						<th class="data-field center-align">
							Mujeres
						</th>
						<th class="data-field center-align">
							Total
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dato in control.range">						
						<td>{{control.data[0].values[dato].label}}</td>
						<td class="center-align">{{control.data[0].values[dato].value}}</td>
						<td class="center-align">{{control.data[1].values[dato].value}}</td>
						<td class="center-align">{{control.data[1].values[dato].value+control.data[0].values[dato].value}}</td>
					</tr>
				</tbody>
				<tfoot ng-repeat-end>
					<tr>
						<td><strong>Total</strong></td>
						<td class="center-align">{{control.totals[0]}}</td>
						<td class="center-align">{{control.totals[1]}}</td>
						<td class="center-align">{{control.totals[2]}}</td>
					</tr>
				</tfoot>
			</table>
		</div>


	</div>
</article>