<article>   
    <h1>Servidores sociales
    <a class="btn-floating btn-small" ng-click="control.hideForm=!control.hideForm" ng-show="!control.hideForm">
    <i class="material-icons">find_in_page</i></a>
    </h1>
    <div id="formulario" ng-show="control.hideForm">
        <div class="row">
            <form name="filtros" ng-submit="control.getAll()">
                <div class="input-field col s12 m6 l3">
                    <select id="carrera" name="carrera" ng-model="control.query.carrera" multiple material-select>
                        <option value="" disabled selected>Todas las carreras</option>
                        <option value="ADMINISTRACI_N">Licenciatura en Administración</option>
                        <option value="CIVIL">Ingeniería civil</option>
                        <option value="CONTADURÍA">Licenciatura en contaduría</option>
                        <option value="EL_CTRICA">Ingeniería Eléctrica</option>
                        <option value="ELECTR_NICA">Ingeniería en Electrónica</option>
                        <option value="GESTI_ON">Ingeniería en Gestión empresarial</option>
                        <option value="INDUSTRIAL">Ingeniería Industrial</option>
                        <option value="INFORM_TICA">Licenciatura en Informática</option>
                        <option value="MEC_NICA">Ingeniería Mecánica</option>
                        <option value="QU_MICA">Ingeniería Química</option>
                        <option value="SISTEMAS">Ingeniería en Sistemas Computacionales</option>
                    </select>
                    <label>Carrera</label>
                </div>
                <div class="input-field col s6 m6 l1 ">
                    <input class="with-gap" name="sexo" type="radio" id="ambos" value="" ng-model=" control.query.sexo" checked />
                    <label for="ambos" class="radioOpcion">Ambos</label>
                    <input class="with-gap" name="sexo" type="radio" id="el" value="el" ng-model="control.query.sexo" />
                    <label for="el" class="radioOpcion">M</label>
                    <input class="with-gap" name="sexo" type="radio" id="la" value="la" ng-model="control.query.sexo" />
                    <label for="la" class="radioOpcion">F</label>
                    <label>Sexo</label>
                </div>
                <div class="input-field col s12 m6 l2">
                    <div class="fecha">
                        <p>
                            <input type="date" name="fechainicio" placeholder="" ng-model="control.query.fechainicio">
                        </p>
                        <label>Desde</label>
                    </div>
                </div>
                <div class="input-field col s12 m6 l2">
                    <div class="fecha">
                        <p>
                            <input type="date" name="fechatermino" placeholder="" ng-model=control.query.fechatermino>
                        </p>
                        <label>Hasta</label>
                    </div>
                </div>
                <div class="input-field col s12 md6 l3">
                    <i class="material-icons prefix">business</i>
                    <input id="dependencia" type="text" class="validate" name="dependencia" ng-model="control.query.dependencia">
                    <label for="dependencia">dependencia</label>
                </div>
                <button class="btn-floating waves-effect waves-light" type="submit">
                <i class="material-icons right">search</i>
                </button>
                <button class="btn-floating waves-effect waves-light red" type="button" ng-click="control.hideForm=!control.hideForm">
                <i class="material-icons right">keyboard_arrow_up</i>
                </button>
            </form>
        </div>
    </div>
    <div class="row" ng-show="control.notFound">
        <div class="col s12 z-depth-2 valign-wrapper">
            <h1 class="valign">
            <i class="medium material-icons">
            error
            </i>
            No se han encontrado estudiantes
            </h1>
        </div>
    </div>
    <div class="row" ng-show="!control.hideForm">
        <div class="row">
            <div class="input-field col s12 m4 offset-m4 busquedaRapida">
                <input id="icon_prefix" type="text" class="validate" 
                ng-model="control.busNumControl" ng-keypress="$event.which===13 &&control.busquedaRapida()">
                <label for="icon_prefix">
                    <i class="material-icons prefix">account_circle</i>
                    Buscar por numero de control o nombre
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-show="control.ejecutando">
        <div class="progress col s10 offset-s1">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row" ng-show="control.alumnos.length>0">
        <div class="col s12 m10 offset-m1">
            <h2 class="center-align titulointerno">Se han encontrado {{control.alumnos.length}} alumnos</h2>
            <table class="responsive-table highlight bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th class="center-align" data-field="NUMCONTROL">Número de control</th>
                        <th class="center-align" data-field="NOMBRE">Nombre</th>
                        <th class="center-align" data-field="CARRERA">Carrera</th>
                        <th class="center-align" data-field="DEPENDENCIA">Dependencia</th>
                        <th class="center-align" data-field="PERIODO">Periodo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alumno in control.alumnos |startFrom: (control.currentPage-1) * control.pageSize | limitTo: control.pageSize">
                        <td class="center-align">
                            <a href="#/alumnos/{{alumno.id}}"><i class="material-icons">mode_edit</i></a> <a href="" ng-click="control.downloadConstancia(alumno.id)"><i class="material-icons">file_download</i></a>
                        </td>
                        <td class="center-align">{{alumno.NUMCONTROL}}</td>
                        <td>{{alumno.NOMBREALUMNO}}</td>
                        <td>{{alumno.CARRERA}}</td>
                        <td>{{alumno.DEPENDENCIA}}</td>
                        <td>{{alumno.PERIODO}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination page="control.currentPage" page-size="control.pageSize" total="control.alumnos.length" show-prev-next="true" use-simple-prev-next="false" dots="...." hide-if-empty="false" adjacent="control.currentPage+1" scroll-top="false" pagination-action="control.setPage(page)"
                ng-show="control.alumnos.length>control.pageSize" />
        </div>
    </div>
</article>