<article class="">
	 <div class="row center-align">
        <div class="col s12 m6 offset-m3 ">
          <div class="card orange darken-1">
            <div class="card-content white-text">
              <span class="card-title">Página no encontrada</span>
              <p>La información que busca no esta disponible</p>
            </div>
            <div class="card-action">
              <a href="#/">Ir al inicio</a>
              <a href="#/estadisticas">ver estadisticas</a>
            </div>
          </div>
        </div>
      </div>
</article>