<article>
	<h1 class="encabezado">{{control.titulo}}</h1>
	<!--Notification area-->
	<div class="row" ng-show="control.done">
		<div class="col s12  center-align">
			<h1  ng-show="control.done">
			<a class="btn-floating btn-small" ng-click="control.done=!control.done">
				<i class="medium material-icons">
				done</i>
			</a>
			<a class="btn-floating btn-small" ng-show="control.success"   href="#/alumnos/{{control.id}}">
				<i class="medium material-icons">
			edit</i></a>
			{{control.mensaje}}
			</h1>
		</div>
	</div>

	<!-- Form area-->
	<div class="row">
		<div class="col s12 m10 offset-m1">
			<form class="nuevo" ng-submit="control.enviar()" invalidate>
				<!--Name area-->
				<div class="row">
					<div class="input-field col s4">
						<input id="nombr" type="text" class="validate" ng-model="control.alumno.nombre" required>
						<label for="nombre">Nombre</label>
					</div>
					<div class="input-field col s4">
						<input id="Apellido paterno" type="text" class="validate" ng-model="control.alumno.apPat" required>
						<label for="Apellido paterno">Apellido paterno</label>
					</div>
					<div class="input-field col s4">
						<input id="Apellido materno" type="text" class="validate" ng-model="control.alumno.apMat">
						<label for="Apellido materno">Apellido materno</label>
					</div>
				</div>

				<!--School Area -->
				<div class="row">
					<div class="input-field col s6 m6 l4">
						<input id="numControl" type="text" class="validate" ng-model="control.alumno.numcontrol" required minlength="8" maxlength="8">
						<label for="numControl">Numero de control</label>
					</div>
					<div class="input-field col s6 m6 l4">
						<select id="carrera" name="carrera" ng-model="control.alumno.carrera" material-select>
							<option ng-repeat="carrera in control.carreras" value="{{carrera}}">{{carrera}}</option>
						</select>
						<label>Carrera</label>
					</div>
					<div class="input-field col s6 m6 l2">
						<input class="with-gap" name="sexo" type="radio" id="el" value="el" ng-model="control.alumno.sexo" />
						<label for="el" class="radioOpcion">M</label>
						<input class="with-gap" name="sexo" type="radio" id="la" value="la" ng-model="control.alumno.sexo" />
						<label for="la" class="radioOpcion">F</label>
						<label>Sexo</label>
					</div>
					<div class="input-field col s6 m6 l2">
						<input id="horas" type="number" min="480" class="validate" ng-model="control.alumno.horas" required>
						<label for="horas">Horas</label>
					</div>
				</div>

				<!--Activities area-->
				<div class="row">
					<div class="input-field col s12 m10 l4">
						<input id="dependencia" type="text" class="validate" ng-model="control.alumno.dependencia" required>
						<label for="dependencia">Dependencia</label>
					</div>
					<div class="input-field col s6 m6 l2">
						<div class="fecha">
							<p>
								<input type="date" name="fechainicio" placeholder="" ng-model="control.alumno.fechainicio" class="validate" required>
							</p>
							<label>Desde</label>
						</div>
					</div>
					<div class="input-field col s6 m6 l2 ">
						<div class="fecha">
							<p>
								<input type="date" name="fechatermino" placeholder="" ng-model="control.alumno.fechatermino" required class="validate">
							</p>
							<label>Hasta</label>
						</div>
					</div>

					<div class="input-field col s6 m6 l2">
						<input type="checkbox" name="calificado" ng-model="control.alumno.calificado" id="calificado">
						<label for="calificado">Reticula nueva</label>
					</div>
					<div class="input-field col s6 l2" ng-show="control.alumno.calificado">
						<input type="number" min="0" max="100" class="validate" ng-model="control.alumno.calificacion">
						<label >Calificación</label>
					</div>
				</div>

				<!--Actividades-->
				<div class="row">
					<div class="input-field col s12 m6 offset-m3">
						<textarea id="actividades" class="materialize-textarea" ng-model="control.alumno.actividades" required></textarea>
						<label for="actividades">Actividades</label>
					</div>
				</div>

				<!--Control area-->
				<div class="row center-align">
					<button class="btn waves-effect waves-light" type="submit">
						<i class="material-icons right">send</i> Guardar
					</button>
					<button class="btn-floating waves-effect waves-light red center" type="button" ng-click="control.reset()">
						<i class="material-icons right">delete</i> Reiniciar
					</button>
				</div>


			</form>
		</div>
	</div>
</article>
