<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8">
		<title>Control Servicio Social</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/nv.d3.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<script src="bower_components/pdfmake/build/pdfmake.min.js" charset="utf-8"></script>
		<script src='bower_components/pdfmake/build/vfs_fonts.js'></script>
	</head>

	<body ng-controller="mainController as mainCtrl">
		<header class="orange valign-wrapper">
			<img src="images/icon.svg.ico" alt="ITO" />
			<span class="valign center-align flow-text titulo">Departamento de gestión tecnológica y vinculación</span>
		</header>
		
			<nav>
				<div class="nav-wrapper orange">
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li>
							<div class="input-field col s12 l3 orange ligth">
								<input id="search" type="search" required ng-model="mainCtrl.busqueda" ng-keypress="$event.which===13 && mainCtrl.buscar()">
								<label class="labelSearch" for="search"><i class="material-icons">search</i></label>
							</div>
						</li>
						<li><a href="#/">Inicio</a></li>
						<li><a href="#/nuevo">Nuevo</a></li>
						<li><a href="#/constancias">Constancias</a></li>
						<li><a href="#/estadisticas">Estadísticas</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="#/">Inicio</a></li>
						<li><a href="#/nuevo">Nuevo</a></li>
						<li><a href="#/constancias">Cartas</a></li>
						<li><a href="#/estadisticas">Estadísticas</a></li>
					</ul>
				</div>
			</nav>

		<section ng-view class="contenidoPage"></section>
		<!--Scripts-->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/FileSaver.min.js"></script>
		<script type="text/javascript" src="js/lodash.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/d3.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="js/angular-animate.js"></script>
		<script type="text/javascript" src="js/angular-materialize.min.js"></script>
		<script type="text/javascript" src="js/nv.d3.min.js"></script>
		<script type="text/javascript" src="js/angular-nvd3.min.js"></script>
		<script type="text/javascript" src="js/mainJQ.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="js/estadisticas.js"></script>


		<script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script>
		<script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
		<script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>
	</body>

</html>
